
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #C9E4CA;
}

h1{
    color: #333333;
}
.sidebar {
    height: 100vh;
    background-color: #FFFFFF;
    color: #fff;
    position:-ms-page;
    width: 250px;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Asegura que el sidebar esté siempre por encima */
}
    
.main-content {
    margin-left: 263px;
    transition: margin-left 0.3s ease-in-out;
}
.card-header {
    background-color: #00163B;
    color: #FFF;
}
.card {
    margin-bottom: 20px;
}
.icon {
    font-size: 1.5rem;
    margin-right: 10px;
}
.overview-card {
    padding: 10px;
    color: #fff;
}
.overview-card h5 {
    font-size: 1.2rem;
}
.navbar {
    margin-left: 250px;
    background-color: #fff;
    transition: margin-left 0.3s ease-in-out;
}
.navbar .navbar-brand {
    color: #000F29;
}
.navbar .navbar-brand:hover {
    color: #00163B;
}
.navbar .form-control {
    background-color: #DBEAFE;
    color: #fff;
}
.bg-cero{
    background-color: #00163B;
}
.bg-one {
    background-color: #6599FF;
}
.bg-two {
    background-color: #48DAB3;
}
.bg-three {
    background-color: #22B8F7;
}
.bg-four {
    background-color: #8565FE;
}
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }
    .sidebar.show {
        transform: translateX(0);
    }
    .main-content, .navbar {
        margin-left: 0;
    }
    .navbar {
        margin-right: 0;
    }
}

ul{
    li{
        list-style: none;
    }
}
